<% include partials/header %>


<div  class="container">
    <div class="row">
        <h1 style="text-align: center">Sign Up</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/Signup" method="POST">
                <div class="form-group">
                   <input class="form-control " style="border-color: #92a8d1;border: 1px solid blue;" type="text" name="username" placeholder="Name">(Maximum 10 letters)
                </div>
                <div class="form-group">
                    <input class="form-control"  style="border-color: #92a8d1;border: 1px solid blue; " type="password" name="password" placeholder="Password">
                </div>
                <div class="radio">
                  <b>Gender:</b> <label><input type="radio" value ="Male" name="optradio">Male</label>
                   <label><input type="radio" name="optradio" value="Female">Female</label>
                </div>
                 <div class="form-group">
                     <b>
                   BloodGroup:- </b> &nbsp;&nbsp;
                   <select name="Blood" style="height:40px;width:100px;">
                       <option>Select</option>
                         <option value="O+">O+</option>
                             <option value="O-">O-</option>
                                <option value="A+">A+</option>
                                   <option value="A-">A-</option>
                                      <option value="B+">B+</option>
                                         <option value="B-">B-</option>
                                           <option value="AB+">AB+</option>
                                             <option value="AB-">AB-</option>
                   </select>
                </div>
                 <div class="form-group">
                    <input  style="border-color: #92a8d1;border: 1px solid blue; " class="form-control" type="number" name="Age" placeholder="Age">
                </div>
                 <div class="form-group">
                    <input  style="border-color: #92a8d1;border: 1px solid blue; " class="form-control" type="number" name="Mobile" placeholder="Mobile Number"> &nbsp;&nbsp;(Do not add  0 or +91)
                </div>
                 <div class="form-group">
                    <input  style="border-color: #92a8d1;border: 1px solid blue; " class="form-control" type="email" name="Email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input  style="border-color: #92a8d1;border: 1px solid blue; " class="form-control" type="text" name="Address" placeholder="Address">
                </div>
                <div class="form-group">
                    <input  style="border-color: #92a8d1;border: 1px solid blue; " class="form-control" type="text" name="District" placeholder="District">
                </div>
                <div class="form-group">
                    <input   style="border-color: #92a8d1;border: 1px solid blue; " class="form-control" type="text" name="City" placeholder="City ( e.g:&nbsp;Mumbai)">(First Letter Capital)
                </div>
                <div class="radio">
                 Have You Ever Donated Blood: <label><input type="radio" value="Yes" name="optradio1">Yes</label>
                   <label><input type="radio" name="optradio1" value="No">No</label>
                </div>
                
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
                </div>
            </form>
            <a href="/home">Go Back</a>
        </div>
    </div>
</div>
<% include partials/footer %>

